<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Dashboard</h1>

    <h2>Top 10 Usuarios Críticos</h2>
    <div id="grafico2"></div>
    <h2>Top 5 Páginas con más políticas</h2>
    <div id="grafico3"></div>


    <script>
        var grafico2 = JSON.parse({{ grafico2 | safe }});
        var grafico3 = JSON.parse({{ grafico3 | safe }});

        Plotly.newPlot('grafico2', grafico2.data, grafico2.layout);
        Plotly.newPlot('grafico3', grafico3.data, grafico3.layout);

    </script>
</body>
</html>